### imports
importFrom("graphics","legend", "lines","plot")
importFrom("stats","as.formula", "coef", "model.extract", "model.frame",
    "model.matrix", "pchisq", "qnorm", "quantile", "sd", "vcov")
importFrom("utils","tail")
importFrom("survival", "Surv", "survfit", "untangle.specials")

#### export of public functions:
export(concreg,plotw,cindex)

#### definition of S3 methods:
S3method(print, concreg)
S3method(summary, concreg)
S3method(coef, concreg)
S3method(vcov, concreg)
S3method(confint, concreg)

#### register shared objects (Fortran DLL):
useDynLib(concreg,.registration=TRUE)